{% extends "base.html" %} {% block content %}
<div class="container mt-5" style="max-width: 500px">
  <h2 class="mb-4 text-center">Eliminar Producto</h2>
  <p class="text-center">
    ¿Estás seguro que deseas eliminar <strong>{{ producto.nombre }}</strong>?
  </p>
  <form method="post">
  {% csrf_token %}
  <p>¿Seguro que quieres eliminar el producto "{{ producto.nombre }}"?</p>
  <button type="submit" class="btn btn-danger">Eliminar</button>
  <a href="{% url 'admin_custom' %}" class="btn btn-secondary">Cancelar</a>
</form>
</div>
{% endblock %}
